@media (min-width: 768px) {
  
    .intro-section {
      display: flex;
      flex-direction: column;
      background-image: url('../../images/main_big.png');
      background-repeat: no-repeat;
      padding: 20px;
      margin-top: 0;
      padding-top: 10px;
      background-size: cover;
    }
  
    .intro1 {
      padding-top: 3%;
      display: flex;
      flex-direction: column;
    }
  
    .intro1 h1 {
      color: orangered;
      margin-bottom: 0;
      font-size: 35px;
    }
  
    .intro1 h2 {
      margin-top: 0;
      font-size: 70px;
      font-family: 'COCOGOOSE', sans-serif;
      font-weight: 800;
      background-image: url("../../images/grandcany.jpg");
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-right: 7%;
      margin-bottom: 0;
      max-width: 900px;
    }
  
    .intro-description {
      padding: 20px;
      padding-bottom: 0;
      margin: 0;
      margin-top: 20px;
      font-size: 30px;
      background-color: rgb(248, 242, 242);
      max-width: 1000px;
    }
  
    .rating h3 {
      font-family: 'COCOGOOSE', sans-serif;
      font-size: 40px;
    }
  
    .intro-date {
      font-size: 20px;
      font-weight: 600;
    }
  
    .main-program {
      display: flex;
      flex-direction: column;
      background-image: url("../../images/pattern_bg.png");
      background-color: rgb(39, 42, 50);
      margin: 0%;
      min-height: 670px;
      max-height: 600px;
      padding: 60px 50px;
      padding-top: 60px;
      color: white;
      align-content: space-between;
      gap: 100px;
    }
  
    .main-big-box {
      display: flex;
      flex-direction: row;
      gap: 20px;
      width: fit-content;
      padding-right: 20px;
    }
  
    .main-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 19px;
      padding: 10px;
      min-width: 250px;
      max-width: 250px;
      height: auto;
      background: rgba(255, 255, 255, 0.1);
    }
  
    .main-big-box :hover {
      border: 1px solid wheat;
    }
  
    .main-box :hover {
      border: none;
    }
  
    .main-program a {
      color: #e9e9e9;
      font-size: 20px;
      text-decoration: none;
      border-bottom: 1px solid #e9e9e9;
    }
  
    .main-footer img {
      min-width: 200px;
      max-width: 200px;
      min-height: 40px;
      max-height: 40px;
      padding-top: 10px;
    }
  
    .main-box img {
      display: flex;
      align-items: center;
      max-width: 25%;
      padding-top: 15px;
    }
  
    .main-box h4 {
      font-size: 20px;
      color: #ec5242;
      margin: 0;
      padding-top: 16px;
    }
  
    .main-box p {
      font-size: 17px;
    }
  
    .team-section {
      min-height: 1000px;
      margin-bottom: 0;
    }
  
    .team-box {
      display: grid;
      grid-template-rows: 3.33fr 3.33fr;
      grid-template-columns: 1fr 1fr;
      min-height: 800px;
      column-gap: 20px;
    }
  
    .team-profile {
      display: flex;
      flex-direction: row;
      height: 0%;
      gap: 20px;
    }
  
    .image-box {
      width: 100%;
      min-width: 180px;
    }
  
    .team-image {
      position: relative;
      top: 10%;
      left: 2%;
      width: 100%;
      padding-top: 20px;
      z-index: 2;
    }
  
    .square-img {
      height: 10%;
      left: 20px;
      position: absolute;
      z-index: 0;
    }
  
    .team-name {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  
    .team-name h4 {
      color: black;
      margin-bottom: 0;
      font-size: 20px;
    }
  
    .team-name p {
      color: #ec5242;
    }
  
    .team-box p {
      margin: 0%;
      font-size: 18px;
    }
  
    .backed-by {
      align-items: center;
      display: grid;
      grid-template-columns: 3fr 3fr 3fr;
      grid-template-rows: 3fr 3fr 3fr;
      margin-top: 30px;
      justify-items: center;
    }
  
    .main-footer {
      display: flex;
      flex-direction: row;
      gap: 30%;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 5px;
      padding-bottom: 20px;
      background-color: #e9e9e9;
    }
  
    .main-footer p {
      padding-top: 50px;
      color: rgb(0, 0, 0);
      font-size: 17px;
      min-width: 200px;
      max-width: 200px;
    }
  
    
    .highlight {
      font-weight: 00;
    
    }
  
    .spotlight-section {
      display: flex;
      flex-direction: column;
      background-color: #f7f1f1;
      background-repeat: no-repeat;
      gap: 25px;
      padding: 20px;
      background-size: cover;
    }
  
    .main-text h3 {
      font-size: 35px;
    }

    .mobile-version {
      display: none;
    }
  }
  