@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  margin: 0;
  color: #797575;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 15%;
  position: fixed;
  z-index: 20;
  height: 5%;

  /* width: 100vw; */
  padding: 20px;
  top: 0%;
  background-color: white;
}

.microverse-logo {
  max-width: 100%;
  height: auto;
  filter: invert(70%);
  position: relative;
}

.intro1 {
  display: flex;
  flex-direction: column;
}

.intro1 h1 {
  color: orangered;
  margin-bottom: 0;
  font-size: 20px;
}

.intro1 h2 {
  margin-top: 0;
  font-size: 36px;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 800;
  background-image: url("../../images/grandcany.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-description {
  padding: 20px;
  margin: 0;
  font-size: 15px;
  background-color: rgb(248, 242, 242);
}

.raiting {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  padding-top: 10px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 0;
}

.raiting h3 {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 20px;
}

.intro-date {
  font-size: 15px;
  font-weight: 600;
}

.main-program {
  display: flex;
  flex-direction: column;
  background-image: url("../../images/pattern_bg.png");
  background-color: rgb(39, 42, 50);
  margin: 0%;
  padding: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 20px;
  scroll-behavior: smooth;
}

#intro :-webkit-scrollbar {
  scroll-behavior: smooth;
}

.main-text {
  display: flex;
  justify-content: center;
}

.main-text h3 {
  justify-content: center;
  border-bottom: 1px solid #ec5242;
  padding-bottom: 10px;
}

.at-microverse {
  text-decoration: none;
  color: #ec5242;
}

.main-text h1 {
  justify-content: center;
  border-bottom: 1px solid #ec5242;
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 25px;
  color: #ec5242;
  padding-bottom: 10px;
}

.main-big-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-box {
  display: flex;
  gap: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.main-footer img {
  min-width: 100px;
  max-width: 100px;
  filter: invert(100%);
  padding-top: 50px;
}

.about-footer img {
  min-width: 100px;
  max-width: 100px;
  filter: invert(100%);
}

.main-img {
  min-width: 100px;
  max-width: 100px;
}

.main-box img {
  height: 50px;
  padding-top: 15px;
}

.main-box h4 {
  font-size: 16px;
  color: #ec5242;
  margin: 0;
  padding-top: 16px;
}

.main-footer p {
  margin-top: 0;
  color: rgb(0, 0, 0);
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 50px;
}

.about-footer p {
  margin-top: 0;
  color: rgb(0, 0, 0);
  font-size: 13px;
  padding-bottom: 10px;
}

.main-box p {
  font-size: 13px;
  margin: 0;
  padding-top: 16px;
}

.team-section {
  margin-top: 30px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid #aaa7a7;
  padding-bottom: 50px;
}

.team-box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.team-profile {
  display: flex;
  flex-direction: row;
  height: 0%;
  gap: 20px;
}

.image-box {
  width: 200px;
  height: fit-content;
}

.team-image {
  position: relative;
  top: 10%;
  left: 2%;
  width: 130px;
  padding-top: 20px;
}

.square-img {
  height: 10%;
  left: 20px;
  position: absolute;
  background-image: url();
}

.team-name h4 {
  color: black;
  margin-bottom: 10px;
}

.team-name p {
  color: #ec5242;
}

.team-box p {
  margin: 0%;
}

.sponser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: rgb(240, 240, 240);
  margin-top: 0;
}

.backed-by {
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
  margin-top: 30px;
  justify-content: space-between;
}

.sponser-img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(100%);
  width: 90%;
}

.main-footer {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 5px;
  background-color: #f1f1f1;
}

.Microvers-section {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  background-color: #f7f1f1;
  background-repeat: no-repeat;
  gap: 25px;
  padding: 20px;
  padding-top: 3em;
  background-size: cover;
}

.diffrent p {
  color: black;
  text-align: center;
}

.story {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}

.story p {
  margin: 0;
}

.contact {
  font-size: 13px;
  text-align: center;
}

.contact a {
  color: black;
}

.black {
  color: black;
  font-size: 24px;
}

.goal-section {
  display: flex;
  flex-direction: column;
  background-color: #f7f1f1;
  background-repeat: no-repeat;
  gap: 25px;
  padding: 20px;
  background-size: cover;
}

.goal-text {
  text-align: center;
  color: black;
}

.highlighted {
  font-size: 24px;
  text-align: center;
  color: black;
  font-weight: 700;
}

.know-more {
  font-size: 15px;
  color: black;
  margin-bottom: 30px;
  font-weight: 400;
}

.know-more a {
  color: #ec5242;
  text-decoration: none;
}

.mission-box {
  display: flex;
  flex-direction: column;
}

.spotlight-section {
  display: flex;
  flex-direction: column;
  background-color: #f7f1f1;
  background-repeat: no-repeat;
  gap: 25px;
  padding: 20px;
  background-size: cover;
}

.spotlight-section p {
  color: black;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

.desktop-version {
  display: none;
}

.success-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overlay {
  background-size: cover;
  background-image: url('../../images/Screenshot (22).png');
  height: 169px;
}

.overlay div {
  height: 169px;
  background-color: #ec5342c0;
  filter: opacity(0.7);
}

.overlay-one {
  background-size: cover;
  background-image: url('../../images/Screenshot (11).png');
  height: 169px;
}

.overlay-one div {
  height: 169px;
  background-color: #ec5342c0;
  filter: opacity(0.7);
}

.success-img img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 0));
}

.team-section button {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #2e2e2e;
  padding-left: 0;
  padding-right: 6px;
  height: 50px;
}

.team-section a {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #2e2e2e;
  padding-left: 0;
  padding-right: 6px;
  height: 50px;
  border: 1px solid #2e2e2e;
}