@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

body{
    font-family:'Nanum Gothic', sans-serif;
    font-weight: 400;
    margin: 0;
    color: #797575;
}

nav {
    display: flex;
    flex-direction: row;
    gap:15%;
    position: fixed;
    z-index: 20;
    height: 5%;
    width: 100vw;
    padding: 20px;
    top: 0%;
    background-color: white;
}
.about-link{
    display: none;
}
.microverse-logo {
    width: 100%;
    filter: invert(70%);
    position: relative;
}
.nav-logo-link {
    width: 50%;
}

    .hamburge {
        padding-top: 5px;
        display: flex;
        cursor: pointer;
        order: 2;
    }
  
    .hamburger.active {
      width: 40px;
      height: 30px;
    }
  
    .bar {
      display: block;
      width: 25px;
      height: 3px;
        margin: 5px;
      margin-right: 15px;
         -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: rgb(3, 3, 3);
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #67798e;
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #67798e;
    } 
    span.bars.active {
        width: 10px;
        height: 10px;
    }

.intro-section {
    display: flex;
    flex-direction: column;
    margin-top:15% ;
    background-image: url(/images/mobile_intro_bg.png);
    background-repeat: no-repeat;
    padding: 20px;
    background-size:cover;    
}

.intro1 {
    display: flex;
    flex-direction: column;
}
.intro1 h1{
    color: orangered;
    margin-bottom: 0;
    font-size: 20px;
    
}
.intro1 h2 {
    margin-top: 0;
    font-size: 36px;
    font-family: 'COCOGOOSE', sans-serif;
    font-weight: 800;
    background-image: url("/images/grandcany.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-description {
    padding: 20px;
    margin: 0;
    font-size: 15px;
    background-color: rgb(248, 242, 242);
}

.intro-date {
    padding: 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}

.main-program {
    display: flex;
    flex-direction: column;
    background-image: url("/images/pattern_bg.png");
    background-color: rgb(39, 42, 50);
    margin: 0%; 
    padding: 20px;
    color: white;
    align-content: space-between;
    gap: 20px;
}
.main-text {
    display: flex;
    justify-content: center;
}
.main-text h3 {
    justify-content: center;
    border-bottom: 1px solid #EC5242;
    padding-bottom: 10px;
}
.at-microverse {
    text-decoration: none;
    color: #EC5242;
}
.main-text h1 {
    justify-content: center;
    border-bottom: 1px solid #EC5242;
    font-family:'COCOGOOSE', sans-serif; 
    font-size: 25px;
    color: #EC5242;
    padding-bottom: 10px;
}
.main-box {
    display: flex;
    gap: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);

}
.main-box img {
    height: 50px;
    padding-top: 15px;
}
.main-box h4 {
    font-size: 16px;
    color: #EC5242;
    margin: 0;
    padding-top: 16px;
}
.main-box p {
    font-size: 13px;
}

.team-section {
    margin-top: 30px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.team-box {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}
.team-profile {
    display:flex;
    flex-direction: row;
   
    height: 0%;
    gap: 20px;
}
.image-box {
 width: 50%;
 height: fit-content;
}
.team-image {
 
    position: relative;
   top: 10%;
    left: 2%;
    width: 100%;
    padding-top: 20px;
   
}
.square-img {
    height: 10%;
    left: 20px;
    position: absolute;
   
}
.team-name h4 {
    color: black;
}
.team-name p {
    color: #EC5242;
}

.team-box p {
    margin: 0%;
}

.sponser {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: rgb(240, 240, 240);
}

.backed-by {
    /* display: flex; */
    align-items: center;
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    margin-top: 30px;
    justify-content: space-between;
    
}

.sponser-img {
    -webkit-filter: grayscale(0%); 
    filter:grayscale(100%) ;
    /* filter: invert(70%); */
    width: 90%;
}

footer{
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 5px;
    background-color: #2e2e2e;
}
footer img {
    /* padding-top: 10px; */
    /* filter: invert(100%); */
    width: 100%;
}

footer p {
   margin-top: 0;
   color: white;
   font-size: 10px;
}
.Microvers-section {
    display: flex;
    flex-direction: column;
    margin-top:15% ;
    background-color: #f7f1f1;
    background-repeat: no-repeat;
    gap: 25px;
    padding: 20px;
    padding-top: 3em;
    background-size:cover;    
}

.diffrent p {
    color: black;
    text-align: center;
}

.story {
    background-color:white;
    color: black;
    text-align: center;
    padding: 20px;
}
.story p {
    margin: 0;
}
.contact {
    font-size: 13px;
    text-align: center;
}
.contact a {
    color: black;
}
.black {
    color: black;
    font-size: 24px;
}
.goal-section {
    display: flex;
    flex-direction: column;
    background-color: #f7f1f1;
    background-repeat: no-repeat;
    gap: 25px;
    padding: 20px;
    background-size:cover;
}
.goal-text {
 text-align: center;
 color: black;
}
.highlighted {
    font-size: 24px;
    text-align: center;
    color: black;
    font-weight: 700;
}
.know-more {
    font-size: 15px;
    color: black;
    margin-bottom: 30px;
    font-weight: 400;
}
.know-more a {
    color: #EC5242;
    text-decoration: none;
}
.mission-box {
    display: flex;
    flex-direction: column;
    
}
.spotlight-section {
    display: flex;
    flex-direction: column;
    background-color: #f7f1f1;
    background-repeat: no-repeat;
    gap: 25px;
    padding: 20px;
    background-size:cover;
}
.spotlight-section p {
    color:black;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}
.desktop-version {
    display: none;
}
.success-img img{
    width: 100%;
    /* color: rgb(51, 51, 51); */
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(184, 4, 4));
    /* filter:grayscale(777%);   */
    transition: 0.5s;
    cursor: pointer;
}
 /* .bg-text {
        justify-content: center;
        border-bottom: 1px solid #EC5242;
        font-family:'COCOGOOSE', sans-serif; 
        font-size: 30px;
        color: #EC5242;
        padding-bottom: 10px;
        
    } */
.success-img img:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 0));
    
    /* filter:grayscale(30%); */
}
@media (min-width: 768px) {
    .desktop-version {
        display: contents;
    }
    nav {
        padding: 20px 80px 10px 10px;
        gap: 40em;
       height: 50px;
        margin: 0;
        
    }
    nav a {
        width: 40%;
       
    }
    .nav-logo-link {
        width: fit-content;
    }
    .about-link {
        display: contents;
        height: fit-content;
    }
    .about-link p {
        margin: 0;
        padding-top: 3px;
        font-size: 20px;
        color: #797575;
        font-weight: 700;
    }
    .hamburger{
      display: none;
    }
  
    .microverse-logo {
        width: 100%;
        height: 90%;
        
    }

    .intro-section {
        margin-top: 5%;
    }

    .intro-section {
        display: flex;
        flex-direction: column;
        background-image: url('/images/main_big.png');
        background-repeat: no-repeat;
        padding: 20px;
        padding-top: 10px;
        background-size:cover;    
    }
    .intro1 {
        padding-top: 3%;
        display: flex;
        flex-direction: column;
    }
    .intro1 h1{
        color: orangered;
        margin-bottom: 0;
        font-size: 35px;
        
    }
    .intro1 h2 {
        margin-top: 0;
        font-size: 70px;
        font-family: 'COCOGOOSE', sans-serif;
        font-weight: 800;
        background-image: url("/images/grandcany.jpg");
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right:7% ;
        margin-bottom: 0;
        max-width:900px;
    }
    .intro-description {
        padding: 20px;
        padding-bottom: 0;
        margin: 0;
        margin-top: 20px;
        font-size: 30px;
        background-color: rgb(248, 242, 242);
        max-width: 1000px;
    }
    
    .intro-date {
        padding: 20px;
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
    }

    .main-program {
        display: flex;
        flex-direction: column;
        background-image: url("/images/pattern_bg.png");
        background-color: rgb(39, 42, 50);
        margin: 0%; 
        min-height:470px ;
        max-height:500px ;
        padding: 60px 50px;
        padding-top: 60px;
        color: white;
        align-content: space-between;
        gap: 20px;
    }
    .main-text {
        display: flex;
        font-size: 25px;
        justify-content: center;
    }
    .main-text h3 {
        justify-content: center;
        border-bottom: 1px solid #EC5242;
        padding-bottom: 10px;
    }
    .at-microverse {
        text-decoration: none;
        color: #EC5242;
    }
   


    .main-big-box {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: fit-content;
        padding-right: 20px;
    }
    .main-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 19px;
        padding: 10px;
        width: fit-content;
        background: rgba(255, 255, 255, 0.1);
    
    }
    .main-box img {
        display: flex;
        align-items: center;
        max-width: 25%;
        padding-top: 15px;
        
    }
    .main-box h4 {
        font-size: 20px;
        color: #EC5242;
        margin: 0;
        padding-top: 16px;
    }
    .main-box p {
        font-size: 17px;
    }
    
    .mobile-version {
        display: none;
    }

    .minebox {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .team-section {
        min-height: 1000px;
    }

    .team-box {
        display: grid;
        grid-template-rows:  3.33fr 3.33fr;
        grid-template-columns: 1fr 1fr;
        min-height:800px;
        column-gap: 20px;
        
    }
    .team-profile {
        display:flex;
        flex-direction: row;
       
        height: 0%;
        gap: 20px;
    }
    .image-box {
     width: 100%;
     min-width:180px ;
     
    }
    .team-image {
     
        position: relative;
       top: 10%;
       
        left: 2%;
        width: 100%;
        padding-top: 20px;
        z-index: 2;
       
    }
    .square-img {
        height: 10%;
        left: 20px;
        position: absolute;
         z-index: 0;
       
    }

    .team-name {
display: flex;
flex-direction: column;
gap: 5px;
    }
    .team-name h4 {
        color: black;
        margin-bottom: 0;

    }
    .team-name p {
        color: #EC5242;
    }
    
    .team-box p {
        margin: 0%;
        font-size: 15px;
    }

    .sponser {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
        background-color: rgb(240, 240, 240);
    }
    
    .backed-by {
        /* display: flex; */
        align-items: center;
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 3fr 3fr 3fr;
        margin-top: 30px;
        justify-items: center;
        
    }
    
    .sponser-img {
        -webkit-filter: grayscale(0%); 
        filter:grayscale(100%) ;
        /* filter: invert(70%); */
        min-width: 120px;
        max-width: 120px;
        padding-bottom: 20px;
    }
    
    footer{
        display: flex;
        flex-direction: row;
        gap: 30%;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 5px;
        padding-bottom: 20px;
        background-color: #2e2e2e;
    }
    footer img {
        /* padding-top: 10px; */
        /* filter: invert(100%); */
       min-width:200px ;
       max-width: 200px;

    }
     
    .ender {
       padding-top: 50px;
        color: white;
        font-size:17px;
        min-width: 200px;
        max-width:200px ;
       
    }

    .Microvers-section {
        display: flex;
        flex-direction: column;
        margin-top:90px;
        background-image: url("/images/about_bg_01.png");
        background-repeat: no-repeat;
        gap: 25px;
        padding: 20px;
        padding-top: 3em;
        background-size:cover;    
    }

    .main-text h1{
        font-size:30px;
        justify-content: center;
        border-bottom: 1px solid #EC5242;
        font-family:'COCOGOOSE', sans-serif; 
        font-size: 40px;
        color: #EC5242;
        padding-bottom: 0px;
    }
    
    .diffrent p {
        color: black;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
    }
    
    .story {
        background-color:white;
        color: black;
        margin: 0px auto 33px;
        padding-top: 50px;
        line-height: 25px;
        border: 1px solid rgb(223, 223, 223);
        width: 960px;
        height: 170px;
        background-color: rgb(255, 255, 255);
        font-size: 1em;
    }
    .story p {
        margin: 0;
        
    }
    .contact {
        font-size: 15px;
        text-align: center;
    }
    .contact a {
        color: black;
    }


    .goal-section {
        display: flex;
        flex-direction: column;
        background-color: #f7f1f1;
        background-repeat: no-repeat;
        gap: 25px;
        padding: 20px;
        background-size:cover;
    }

    .goal-section .main-text h3 {
        font-size: 40px;
    }
    .goal-text {
     text-align: center;
     color: black;
     font-size: 20px
    }
    .highlighted {
        font-size: 30px;
        text-align: center;
        color: black;
        font-weight: 700;
    }
    .know-more {
        font-size: 19px;
        color: black;
        margin-bottom: 30px;
        font-weight: 400;
    }
    .know-more a {
        color: #EC5242;
        text-decoration: none;
    }
    .mission-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .mission-box img {
        min-width:20px ;
        max-width: 400px;
    }


    .spotlight-section {
        display: flex;
        flex-direction: column;
        background-color: #f7f1f1;
        background-repeat: no-repeat;
        gap: 25px;
        padding: 20px;
        background-size:cover;
    }
    .spotlight-section .main-text h3 {
        font-size: 35px;
    }
    .spotlight-section p {
        color:black;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
    }

    .success-img img{
        width: 100%;
        /* color: rgb(51, 51, 51); */
        filter: opacity(0.5) drop-shadow(0 0 0 rgb(184, 4, 4));
        /* filter:grayscale(777%);   */
        transition: 0.5s;
        cursor: pointer;
    }

    .success-img img:hover {
        filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 0));}
}

