@media (max-width: 768px) {
    .ul-nav {
      position: fixed;
      left: -100%;
      display: flex;
      top: 0;
      padding-top: 0;
      gap: 10px;
      flex-direction: column;
      background: rgb(39, 42, 50);
      opacity: 0.95;
      width: 70%;
      height: 100vh;
      font-size: 27px;
      margin-top: 0;
      transition: 0.9s;
      list-style-type: none;
    }
  
    .ul-nav li p {
      margin-top: 0;
      color: #f7f1f1;
    }
  
    a {
      text-decoration: none;
    }
  
    button {
      border-style: none;
      font-size: 40px;
      background: rgb(39, 42, 50);
      opacity: 0.95;
      color: #f7f1f1;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      padding-right: 40px;
    }
  
    .ul-nav.active {
      left: 0;
    }
  
    .nav-logo-link {
      width: 50%;
    }
  
 
    .hamburger.active {
      width: 40px;
      height: 30px;
    }
  
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px;
      margin-right: 15px;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background-color: rgb(3, 3, 3);
    }
  
    .about-footer {
      display: flex;
      flex-direction: row;
      gap: 5%;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 5px;
      background-color: #fff;
    }
  }