.at-microverse {
  text-decoration: none;
  color: #ec5242;
}

.about-footer {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
}

.about-footer img {
  min-width: 100px;
  max-width: 100px;
  filter: invert(100%);
}


.about-footer p {
  margin-top: 0;
  color: rgb(0, 0, 0);
  font-size: 13px;
  padding-bottom: 10px;
}


.Microverse-section,
.goal-section,
.spotlight-section {
  display: flex;
  flex-direction: column;
  background-color: #f7f1f1;
  background-repeat: no-repeat;
  gap: 25px;
  padding: 20px;
  background-size: cover;
}

.story,
.contact,
.goal-text,
.highlighted,
.spotlight-section p,
.know-more a {
  color: black;
}


.contact,
.know-more,
.mission-box {
  font-size: 13px;
}

.Microverse-section {
  margin-top: 15%;
  padding-top: 3em;
}

.story {
  background-color: white;
  text-align: center;
  padding: 20px;
}

.story p {
  margin: 0;
}

.contact {
  font-size: 13px;
  text-align: center;
}


.goal-text {
  text-align: center;
}

.highlighted {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.know-more {
  font-size: 15px;
  margin-bottom: 30px;
  font-weight: 400;
}

.know-more a {
  color: #ec5242;
  text-decoration: none;
}

.mission-box {
  display: flex;
  flex-direction: column;
}

.spotlight-section p {
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

.success-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overlay ,
.overlay-one {
  background-size: cover;
  height: 169px;
}

.overlay div,
.overlay-one div {
  height: 169px;
  background-color: #ec5342c0;
  filter: opacity(0.7);
}

.overlay {
  background-image: url('../../images/Screenshot (22).png');
}

.overlay-one {
  background-image: url('../../images/Screenshot (11).png');
}